/* styles.css */

body {
    background-image: url('C:\\Users\\Sofiane Yacine\\OneDrive - Centre de recherche du CHU de Québec\\Bureau\\Projet codage\\Feuille.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

